
element.style {
}
body {
    font-family: Poppins, sans-serif;
    background: #5abdff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}

h3 {
    color:#f532aa;
}

img {
    background-color: transparent;
}